### Carregar Bibliotecas

In [1]:
import pandas as pd
import numpy as np

### Carregar os dados

In [4]:
df_vendas = pd.read_excel( "data/datasets.xlsx",
                            sheet_name=0 ,
                            skiprows=4, 
                            usecols=[2,3,4,5,6,7,8,9 ] )

df_produtos = pd.read_excel( "data/datasets.xlsx",
                            sheet_name=2 ,
                             )

df_consumidor = pd.read_excel( "data/datasets.xlsx",
                            sheet_name=3 ,
                            )

df_lojas = pd.read_excel( "data/datasets.xlsx",
                            sheet_name=4 ,
                             )

## Descrição dos dados

### Checar os NaN

In [18]:
df_vendas.isna().sum()

ID           0
ProductID    0
ClientID     0
Discount     0
UnitPrice    0
Quantity     0
StoreID      0
Date         0
dtype: int64

In [19]:
df_consumidor.isna().sum()

ID             0
City           0
State          0
DateOfBirth    0
Sex            0
dtype: int64

In [20]:
df_lojas.isna().sum()

ID       0
Name     0
State    0
dtype: int64

In [21]:
df_produtos.isna().sum()

ID      0
Name    0
Size    0
dtype: int64

### Verificar o Tamanho

In [23]:
print( 'Número de linhas na vendas : {}'.format( df_vendas.shape[0] ) )
print( 'Número de Colunas na vendas: {}'.format( df_vendas.shape[1] ) )

Número de linhas na vendas : 32753
Número de Colunas na vendas: 8

In [24]:
print( 'Número de linhas no produto  : {}'.format( df_produtos.shape[0] ) )
print( 'Número de Colunas no produto : {}'.format( df_produtos.shape[1] ) )

Número de linhas no produto  : 73
Número de Colunas no produto : 3

In [25]:
print( 'Número de linhas da loja  : {}'.format( df_lojas.shape[0] ) )
print( 'Número de Colunas da loja : {}'.format( df_lojas.shape[1] ) )

Número de linhas da loja  : 7
Número de Colunas da loja : 3

In [26]:
print( 'Número de linhas do consumidor  : {}'.format( df_consumidor.shape[0] ) )
print( 'Número de Colunas do consumidor : {}'.format( df_consumidor.shape[1] ) )

Número de linhas do consumidor  : 13650
Número de Colunas do consumidor : 5

### Verificar os tipos dos dados

In [27]:
df_vendas.dtypes

ID                   object
ProductID            object
ClientID              int64
Discount            float64
UnitPrice           float64
Quantity              int64
StoreID               int64
Date         datetime64[ns]
dtype: object

In [28]:
df_produtos.dtypes

ID      object
Name    object
Size    object
dtype: object

In [29]:
df_consumidor.dtypes

ID                      int64
City                   object
State                  object
DateOfBirth    datetime64[ns]
Sex                    object
dtype: object

In [30]:
df_lojas.dtypes

ID        int64
Name     object
State    object
dtype: object

## Descrição Estatistica

In [31]:
df_vendas_num = df_vendas.select_dtypes( include=['int64', 'float64'])

df_vendas_cat = df_vendas.select_dtypes( exclude=['int64', 'float64','datetime64[ns]'])

In [42]:
#Metricas Tendência Central - Mean e Median

ct1 = pd.DataFrame( df_vendas_num.apply( np.mean ) ).T
ct2 = pd.DataFrame( df_vendas_num.apply( np.median ) ).T

#Metricas Dispersão STD -Min - Max - Range - skew - Kurtosis

d1 = pd.DataFrame( df_vendas_num.apply( np.std ) ).T
d2 = pd.DataFrame( df_vendas_num.apply( min ) ).T
d3 = pd.DataFrame( df_vendas_num.apply( max ) ).T
d4 = pd.DataFrame( df_vendas_num.apply( lambda x: x.max() - x.min() ) ).T
d5 = pd.DataFrame( df_vendas_num.apply( lambda x: x.skew() ) ).T
d6 = pd.DataFrame( df_vendas_num.apply( lambda x: x.kurtosis() ) ).T

#Concatenar - Montar Tabela

df_desc_vendas_num =  pd.concat( [ d2, d3, d4, ct1, ct2, d1, d5, d6] ).T.reset_index()
df_desc_vendas_num.columns = ['atributos','min','max','range','media','mediana','std','skew','kurtosis']

df_desc_vendas_num

,atributos,min,max,range,media,mediana,std,skew,kurtosis
0,ClientID,14001.00,28695.0,14694.00,21225.185937,21130.0,4262.129047,0.039784,-1.207853
1,Discount,0.08,0.1,0.02,0.093012,0.1,0.009536,-0.631752,-1.600987
2,UnitPrice,114.80,686.0,571.20,221.644967,204.4,112.533586,2.935387,9.318373
3,Quantity,1.00,3.0,2.00,1.058651,1.0,0.239603,3.994438,15.192824
4,StoreID,1.00,22.0,21.00,3.752389,3.0,3.827446,3.118095,11.735954

In [39]:
ct2

   ClientID  Discount  UnitPrice  Quantity  StoreID
0   21130.0       0.1      204.4       1.0      3.0