In [1]:
import pandas as pd
import numpy as np

### Load Dataset

In [16]:
df_vendas = pd.read_excel( "data/datasets.xlsx",
                            sheet_name=0 ,
                            skiprows=4, 
                            usecols=[2,3,4,5,6,7,8,9 ] )

df_produtos = pd.read_excel( "data/datasets.xlsx",
                            sheet_name=2 ,
                             )

df_consumidor = pd.read_excel( "data/datasets.xlsx",
                            sheet_name=3 ,
                            )

df_lojas = pd.read_excel( "data/datasets.xlsx",
                            sheet_name=4 ,
                             )

In [17]:
df_vendas.is

   ID            Name State
0   1   Florian처polis    SC
1   2  Rio de Janeiro    RJ
2   3    Porto Alegre    RS
3   4        Curitiba    PR
4   7       S찾o Paulo    SP
5   9  Belo Horizonte    MG
6  22          Online    na